.favorites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding-right: 35px;
}

.swapi {
  color: darkgoldenrod;
  background-color: white;
  font-size: 2rem;
  margin: 0 200px 4px 0;
  padding: 0 10px;
  border-radius: 15px;
}