.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.select-category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  font-size: 3rem;
  color: white;
}
