.card {
  background-color: #272323;
  width: 225px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
  border: 2px solid #8e8e8e;
  margin: 10px 0px;
}