body {
  background-image: url('../images/sw-bg.png')
}

.navigation {
  display: flex;
  justify-content: space-around;
  height: 125px;
  background-image: url('../images/saber.jpg');
  background-size: 100vw auto;
  background-position-y: center; 
}

.text {
  color: white;
  margin: 0;
}